# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master]
  pull_request:
    branches: [ master]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1
    - name: Build and install mchap
      run: |
        pip install .[dev,test]
    - name: Test with pytest (bounds checked)
      env:
        NUMBA_BOUNDSCHECK: 1
      run: |
        pytest -vv
    - name: Test with pytest
      env:
        NUMBA_BOUNDSCHECK: 0
      run: |
        pytest -vv
